{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}" {% endif %} xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">

<head>
    <title>Tennis Courts Reservation System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/admin_styles.css"/>
    <style>
        .bg-image {
            background-image: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.6)),
            url({% static 'tennis_court.jpg' %});
        }
    </style>
</head>

<body>
<div class="bg-image"></div>

<div class="overlay">
    <nav class="title_box">
        <h1>ADMINISTRATOR PANEL</h1>
        <h2>Tennis Courts Reservation System</h2>
    </nav>

    <div class="navbar">
        <p style="color: red">*** USER INTERFACE *** </p>
        <a class="navbar-brand" href="{% url 'reservations_urls:index-list-view' %}">
            <span class="glyphicon glyphicon-home"></span> Home</a>
        <a class="navbar-brand" href="{% url 'reservations_urls:courts-details' %}">Courts List</a>
        <a class="navbar-brand"
           href="{% url 'reservations_urls:reserved_courts_details_views' %}"> Latest reservations</a>
        <a class="navbar-brand navbar-right" href=" {% url 'accounts_urls:logout' %} ">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
    </div>


    {% if perms.foo %}
    <nav class="navbar">
        <p style="color: red">*** ADMINISTRATOR PANEL *** </p>
        <div class="navbar-header">

            <a class="navbar-brand" href="{% url 'reservations_urls:add-court' %}">Add New Court</a>
            <a class="navbar-brand" href="{% url 'reservations_urls:delete-court' %}">Delete Court</a>
            <a class="navbar-brand"
               href="{% url 'reservations_urls:court-params-edit' %}">Change Court Params</a>
            <a class="navbar-brand"
               href="{% url 'reservations_urls:reservation-delete-list' %}">Delete Reservation</a>


            <div class="navbar-header dropdown navbar-right">
                <button class="dropbtn"><b>**USER MANAGEMENT**</b></button>
                <div class="dropdown-content">
                    <a class="navbar-brand" href="{% url 'clients_urls:profile-list-view' %}">Show Users</a>
                    <a class="navbar-brand"
                       href="{% url 'accounts_urls:register' %}">Create New User</a>
                </div>
            </div>
    </nav>

    {% endif %}

    <div class="content_box">
        {% block content %}{% endblock %}
    </div>


    <footer><b>Wiktor, Krystian, Daniel </br>ZDPyt49 2021/2022</b></footer>

</body>
</html>