{% extends "base.html" %}

{% block content %}

    <div class="content">
            <h2 style="text-align:center">Welcome at Tennis Courts Reservation System </h2><br>

        <h3 style="text-align:center">We are new online page, which allows to reserve tennis courts</h3><br>
        <h3 style="text-align:center"> through Poland. We cooperate with over 20 tennis courts in Poland!  </h3><br>
        <h3 style="text-align:center">Easy, Fast & Cheap</h3><br>
        <h3 style="text-align:center">0 % commission</h3>

    </div>

{% endblock %}

