{% extends "base.html" %}

{% block content %}

    <div>
            <div class="content">
                <h4>Please Login </h4></br>

                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
<!--                        {{ form.as_p }}-->
                        <label for="username"><p1>Username:</p1></label>
                        <input style="color: blue;
                                 background: #ffffff"
                               type="text" name="username" placeholder="Enter Username">
                        </br></br>

                        <label for="password"><p1>Password:</p1></label>
                        <input style="color: blue;
                                background: #ffffff"
                               type="password" name="password" placeholder="Your Password">

                        </br>
                        </br>
                        <button
                                type="submit" name="" value="Submit">LOGIN</button>

                </br></br>

                   <p1>If you don't have an account yet, please
                    <a href="{% url 'accounts_urls:register' %}"> REGISTER</a></p1>
                    </br></br>
                    </p1><p1>If you don't remember your password, then
                    <a href="{% url 'password_reset' %}"> RESET PASSWORD</a></p1>
                    </form>
            </div>
        </div>
{% endblock %}
