{% extends "base.html" %}

{% block content %}

   <div class="content">
            <h2 style="text-align:center">Profile Panel </h2><br>
    </div>
     <div class="navbar">
        <a class="navbar-brand" href="{% url 'clients_urls:user_profile' %}">Your profile</a>
        <a class="navbar-brand" href="{% url 'clients_urls:user_reservations' %}">Reservations</a>
        <a class="navbar-brand" href="{% url 'clients_urls:user_edit_reservations' %}"> Edit Reservations</a>
        <a class="navbar-brand" href="{% url 'clients_urls:user_delete_reservations' %}">Delete Reservation</a>
        <a class="navbar-brand" href="{% url 'clients_urls:user_edit_profile' %}">Edit Profile</a>
        <a class="navbar-brand navbar-right" href=" {% url 'logout' %} ">
                                     <span class="glyphicon glyphicon-log-out"></span> Logout</a>
    </div>


{% endblock %}
