{% extends 'base.html' %}

{% block content %}
<h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button style="color: blue;
                    background: #ffffff;
                    font-size: 20px;
                    text-align: center"
                onclick="url {% url 'reservations_urls:index-list-view' %}">CANCEL</button>

        <button style="color: blue;
                    background: #ffffff;
                    font-size: 20px;
                    text-align: center"
                type="submit">CHANGE PASSWORD</button>
    </form>
{% endblock content %}
