{% extends "base.html" %}

{% block content %}
 <h2>Available Courts: </h2></br>

 <table class="table table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>Object</th>
        <th>Date</th>
        <th> ?? start when ??</th>
        <th> ?? ends when ??</th>
      </tr>
    </thead>
    <tbody>
      {% for el in object_list %}
        <tr>
          <td>{{  }}</td>
          <td>{{  }}</td>
          <td>{{  }}</td>
          <td>{{  }}</td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
{% endblock %}