{% extends "base.html" %}

{% block content %}

<div class="content">

    <h2>Please confirm your reservation: </h2></br>
    <p> City: {{ court.city }} </p>
    <p> Court Name: {{ court.name }} </p>
    <p> Reservation date: {{ form.reservation_date.value }} </p>
    <p> Reservation time: {{ form.reservation_start.value }}
        - {{ form.reservation_end.value }} </p>
    <p> Reservation cost: {{ form.reservation_cost.value }} </p></br>

    <form method="post">
        {% csrf_token %}

        <p hidden> {{ form }} </p>
        <p> Reservation cost will be added to your account's wallet. </p>
        <a href="{% url 'reservations_urls:courts-details' %}" class="button" style="color:white">Back</a>
        <button type="submit" value="Submit">Reserve</button>
    </form>
</div>


{% endblock %}
