{% extends "admin_panel.html" %}

{% block content %}
<h2>Change Court Parameters: </h2></br>

<table class="table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>City</th>
        <th>Court Name</th>
        <th>Opening at</th>
        <th>Closing at</th>
        <th>Hire Rate</br> [PLN/0.5h]</th>
        <th>Equipment rent</th>
        <th>Equipment rent price [PLN]</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    {% for el in object_list %}
    <tr>
        <td>{{ el.city }}</td>
        <td>{{ el.name }}</td>
        <td>{{ el.open_hour }}</td>
        <td>{{ el.close_hour }}</td>
        <td>{{ el.hire_price }}</td>
        <td>{% if el.equipment_rent %} Available {% else %} Not Available {%endif %}</td>
        <td>{{ el.equipment_cost }}</td>
        <td><a style="color:#85c34b" href="{% url 'reservations_urls:exact-court-edit' el.id %}">EDIT</a></td>
    </tr>

    {% endfor %}
    </tbody>
</table>


{% endblock %}