{% extends "base.html" %}

{% block content %}
 <h2>Courts Details: </h2>

 <table class="table table-bordered">
    <thead>
      <tr>
        <th>City</th>
        <th>Court Name</th>
        <th>Opening at</th>
        <th>Closing at</th>
        <th>Hire Rate</br> [ $/0.5h ]</th>
        <th>Is equipment rent</th>
      </tr>
    </thead>
    <tbody>
      {% for el in object_list %}
        <tr>
          <td>{{ el.city }}</td>
          <td>{{ el.name }}</td>
          <td>{{ el.open_hour }}</td>
          <td>{{ el.close_hour }}</td>
          <td>{{ el.hire_price }}</td>
          <td>{{ el.equipment_rent }}</td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
{% endblock %}