{% extends "admin_panel.html" %}

{% block content %}
 <h2>Change Court Parameters: </h2></br>

<table class="table-bordered" style="width:100%">
    <thead>
      <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;&nbsp;City&nbsp;&nbsp;&nbsp;</th>
            <th>Court Name</th>
            <th>Opening at</th>
            <th>Closing at</th>
            <th>Hire Rate</br> [ PLN/0.5h ]</th>
            <th>Is equipment rent</th>
            <th>Equipment rent price</th>
<!--            <th>Short Info</th>-->
      </tr>
    </thead>
    <tbody>
      {% for el in object_list %}
        <tr>
            <td><a style="color:#85c34b" href="{% url 'reservations_urls:courts-params-edit' el.id %}">EDIT</a></td>
            <td>{{ el.city }}</td>
            <td>{{ el.name }}</td>
            <td>{{ el.open_hour }}</td>
            <td>{{ el.close_hour }}</td>
            <td>{{ el.hire_price }}</td>
            <td>{% if el.equipment_rent %} Yes {% else %} No {%endif %}</td>
            <td>{{ el.equipment_cost }}</td>
<!--            <td>{{ el.short_description }}</td>-->
        </tr>

      {% endfor %}
    </tbody>
  </table>


{% endblock %}