{% extends "base.html" %}

{% block content %}
 <h2>Courts rates and opening hours: </h2></br>

 <table class="table table-bordered" style="width:100%">
    <thead>
      <tr>
            <th>Court Name</th>
            <th>City</th>
            <th>Opening at</th>
            <th>Closing at</th>
            <th>Hire Rate</br> [ PLN/0.5h ]</th>
            <th>Equipment rent</th>
            <th>Quick Reservation</th>
    </tr>
    </thead>
    <tbody>
      {% for el in object_list %}
        <tr>
            <td><a href="{% url 'reservations_urls:court-exact-detail' pk=el.pk %}">
                <span class="glyphicon glyphicon-eye-open"></span> {{ el.name }}</a></td>
            <td>{{ el.city }}</td>
            <td>{{ el.open_hour }}</td>
            <td>{{ el.close_hour }}</td>
            <td>{{ el.hire_price }}</td>
            <td>{% if el.equipment_rent %} Available {% else %} Not Available {%endif %}</td>
            <td><a href="{% url 'reservations_urls:create-exact--reservation' pk=el.pk %}">
                <span class="glyphicon glyphicon-triangle-right"></span> Reserve court
                <span class="glyphicon glyphicon-triangle-left"></span></td>

        </tr>

      {% endfor %}
    </tbody>
  </table>
{% endblock %}