{% extends "base.html" %}

{% block content %}
 <h2>Courts rates and opening hours: </h2></br>

 <table class="table table-bordered" style="width:100%">
    <thead>
      <tr>
            <th>City</th>
            <th>Court Name</th>
            <th>Opening at</th>
            <th>Closing at</th>
            <th>Hire Rate</br> [ PLN/0.5h ]</th>
            <th>Equipment rent</th>
      </tr>
    </thead>
    <tbody>
      {% for el in object_list %}
        <tr>
            <td>{{ el.city }}</td>
            <td>{{ el.name }}</td>
            <td>{{ el.open_hour }}</td>
            <td>{{ el.close_hour }}</td>
            <td>{{ el.hire_price }}</td>
            <td>{{ el.equipment_rent }}</td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
{% endblock %}