{% extends "admin_panel.html" %}

{% block content %}
<h2>Click DELETE to remove court: </h2></br>

<table class="table-bordered" style="width:100%">
    <thead>
    <tr>

        <th>City</th>
        <th>Court Name</th>
        <th>Opening at</th>
        <th>Closing at</th>
        <th>Hire Rate</br> [ PLN/0.5h ]</th>
        <th>Equipment rent</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for el in object_list %}
    <tr>
        <td>{{ el.city }}</td>
        <td>{{ el.name }}</td>
        <td>{{ el.open_hour }}</td>
        <td>{{ el.close_hour }}</td>
        <td>{{ el.hire_price }}</td>
        <td>{% if el.equipment_rent %} Available {% else %} Not Available {%endif %}</td>
        <td><a style="color:#85c34b" href="{% url 'reservations_urls:delete-exact-court' el.id %}">DELETE</a></td>
    </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock %}