{% extends "admin_panel.html" %}

{% block content %}

<div class="content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <form method="POST">
              <h4>You can change all fields, or some of them only. </h4> </br></br>

        {% csrf_token %}
        {{ form.as_p }}

              <button type="submit" value="Submit">APPLY CHANGES</button>
              <a href="{% url 'reservations_urls:court-params-edit' %}"
                 class="button" style="color:white">CANCEL</a>
    </form>


</div>

{% endblock %}
