{% extends "admin_panel.html" %}

{% block content %}

<div class="content" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">

    <form method="post">
        {% csrf_token %}
        <h4>Confirm deleting Reservation</h4> </br></br>

        <p> User: {{ object.client }} </br>
            City: {{ object.court.city }} </br>
            Court Name: {{ object.court.name }} </br>
            Reservation date: {{ object.reservation_date }} </br>
            Reservation start: {{ object.reservation_start }} </br>
            Reservation end: {{ object.reservation_end }} </br>
        </p>

        </br></br>

        <button type="submit" value="Submit" style="color:red">DELETE RESERVATION</button>

        <a href="{% url 'reservations_urls:reservations-details' %}"
           class="button" style="color:white">CANCEL</a>


    </form>
</div>

{% endblock %}
